(cloudflare) {
  tls {
    dns cloudflare {env.CLOUDFLARE_API_TOKEN}
  
  }
}

# immich
{env.IMMICH_SUBDOMAIN} {
  reverse_proxy {env.IMMICH_LOCALHOST}

  import cloudflare
}

# plex
{env.PLEX_SUBDOMAIN} {
  reverse_proxy {env.PLEX_LOCALHOST} {
    header_up Host {host}
    header_up X-Real-IP {client_ip}
  }
  import cloudflare
}
