(cloudflare) {
  tls {
    dns cloudflare {env.CLOUDFLARE_API_TOKEN}
  
  }
}

# immich
{env.IMMICH_SUBDOMAIN} {
  reverse_proxy {env.IMMICH_LOCALHOST}

  import cloudflare
}

# jellyfin
{env.JELLYFIN_SUBDOMAIN} {
  reverse_proxy {env.JELLYFIN_LOCALHOST}
  import cloudflare
}

# jellyseerr
{env.JELLYSEERR_SUBDOMAIN} {
  reverse_proxy {env.JELLYSEERR_LOCALHOST}
  import cloudflare
}
